<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welcome to Photo Drop!</h1>

    <button>
      <a href="/">Home</a>
    </button>

    <form action="/user" method="POST">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Create User</button>
    </form>

  </body>
</html>
