<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Enter to the Photographers Page</h1>
      <button><a href="/user">Click here</a></button>

  </body>
</html>
