<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Meet the Talented Photographers</h1>

    <a href="/index">Home</a>
    <a href="/new">Add your Info!</a>

  </body>
</html>
