<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Pokemon</h1>
    <a href="/pokemon/new"><button><h4>Create new pokemon</h4></button></a>

<ul class="pokemon">
  <% for(let i = 0; i < list.length; i++) {%>
    <li>
    <h4>
        I am <%= list[i].name %> and I look like <br/>
        <img src="<%= list[i].img %>"> <br/>

        <a href="/pokemon/<%=i%>"><button><h5>Click to see me</h5></button></a>

        <a href="/pokemon/<%=i%>/edit"><button><h5>Click to edit me</h5></button></a>
      </h4>
    </li>
  <%}%>
</ul>
</body>

</html>
