<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Create your own pokemon!</h1>

    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name"> <br/>
      Image: <input type="file" name="imgUploader" multiple /> <br/>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
