<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Pokemon</h1>

    <h3>This is <%=list.name%> pokemon</h3> <img src="<%=list.img%>">

  </body>
</html>
