<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Selected Pokemon</h1>

    <form method="POST" action="/pokemon/<%=index%>?_method=PUT">
      <h3>
        This is<%=pokemon.name%>pokemon <br/>
        <img src="<%=pokemon.img%>">
      </h3>
    </form>

  </body>
</html>
