<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Create new one!</h1>

    <form action="/shoes" method="POST">
      Color: <input type="text" name="name"><br/>
      Size: <input type="text" name="size"><br/>
      Type of Shoe: <input type="text" name="typeofshoe"><br/>
      <input type="submit" name"submit">
    </form>

  </body>
</html>
