<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Detail info of <%= shoes.typeOfShoe %></h1>

    <h3>

      The <%= shoes.typeOfShoe %> <br/>
      are size <%= shoes.size %> <br/>
      and the color is: <%= shoes.color %> <br/>

    </h3>

    <nav>
      <a href="/shoes">Go back to home</a>
    </nav>

  </body>
</html>
