<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Shoes</h1>

    <h3>
      The <%= shoes.typeOfShoe %> are
      <%= shoes.size %> and the color is
      <%= shoes.color %>
    </h3>


  </body>
</html>
