<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit me</h1>

    <form method="POST" action="/shoes/<%=index%>?method=PUT">

    Color: <input type="text" name="color"/><br/>
    Size: <input type="text" name="size"/><br/>
    Type of Shoes: <input type="text" name="types"/><br/>

    <input type="submit" value="Submit"/> <br/>

  </form>

  </body>
</html>
