<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit me</h1>

    <form method="POST" action="/shoes/<%=shoes.id%>?method=PUT">

    Color: <input type="text" name="color" value="<%=shoes.color%>"/><br/>
    Size: <input type="text" name="size" value="<%=shoes.size%>"/><br/>
    Type of Shoes: <input type="text" name="types" value="<%=shoes.typeOfShoe%>"/><br/>

    <input type="submit" value="Submit"/> <br/>

  </form>

  </body>
</html>
