h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
}

body {
  background-color: #F7F1F6;
}

img {
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}

ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  word-spacing: 100px;
}

footer {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
