<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Photo Drop</h1>

    <p>A place for photographers and enthusiasts to share a colab</p>

    <button><a href="/user"></a>Home</button> <br/>

    <button><a href="user/index"></a>All Contributers</button> <br/>

    <button><a href="photo/new"></a>New Post!</button>

  </body>
</html>
